<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="quizService" class="ru.otus.quiz.service.QuizService">
        <constructor-arg name="questionReader" ref="questionReader"/>
        <constructor-arg name="questionPrinter" ref="questionPrinter"/>
    </bean>

    <bean id="questionReader" class="ru.otus.quiz.dao.QuestionReaderCsvImpl">
        <constructor-arg name="csvPath" value="questionList.csv"/>
    </bean>

    <bean id="questionPrinter" class="ru.otus.quiz.service.QuestionPrinterStdOutImpl"/>

</beans>
